.pokemon-card {
  color: #000;
  padding: 8px;
  margin: 18px;
  border: 1px solid grey;
  border-radius: 8px;
  background-color: #20f5f5;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;

  img { 
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
}

.pokemon-card-inner {
  border: 1px solid grey;
  border-radius: 8px;
  background-color: #92fafa;
  padding: 2px;
  height: 98%;
  position: relative;

  h3 {
    max-width: 200px;
  }
}

.pokeID {
  font-size: 14px;
  color: #222;
  margin-bottom: 8px;
}

.card-front, .card-back {
  transition: all 1s ease-in-out;
  background-color: #92fafa;
}

.card-back {
  position: absolute;
  top: 2px;

  img {
    transform: rotateY(180deg);
  }
}

.card-front, .flipped .card-back {
  opacity: 1;
}
.card-back, .flipped .card-front {
  opacity: 0;
}
