body {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to left,
    rgb(12, 49, 125) 0%,
    rgb(5, 175, 144) 100%
  );
}

input {
  text-align: center;
}

.pagination-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 24px;
  position: fixed;
  background: linear-gradient( to left, rgb(12, 49, 125) 0%, rgb(5, 175, 144) 100% );
  width: 100%;
  padding-top: 10px;
}

.pagination-item {
  margin: 0px 15px 20px;
  display: flex;

  select {
    margin-right: 4px;
  }
}

.slide-up {
  position: relative;
  top: -1px;
}

.main-title {
  padding-top: 50px;
  margin: 0px;
}