body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to left,
    rgb(12, 49, 125) 0%,
    rgb(5, 175, 144) 100%
  );
}

input {
  text-align: center;
}